<%= content_for :page_title, t('page_title.view_content') %>
<h2><%= t('page_title.view_content') %></h2>
<h3><%= t('description.view_content') %></h3>
<p><%= link_to t('page_title.index'), root_path %></p>
<p><%= link_to t('page_title.variable'), variable_path %></p>
<p><%= link_to t('page_title.view_content'), view_content_path %></p>
<p>The time is now: <%= Time.now %></p>
