<%= content_for :page_title, t('page_title.view_content') %>
<h2><%= t('description.preface') + Titler.title %></h2>
<h3><%= t('description.view_content') %></h3>
<%= render 'pages/shared/navigation' %>
<p><%= t('time_preface') + Time.now.to_s %></p>
